@charset "utf-8";

/*헤더*/
#header{
    height:70px;
    line-height:70px; 
    background:rgba(0,0,0,0.4);
    position:absolute;
    width:100%;
    z-index:1; 
}
.hIcon{
    position:relative;
    width:100%; 
}
.logo h1{
    width:250px;  
    position:absolute;
    left:15px;
    margin-top:-5px; 
}
.logo h1 img{    
    width:80%; 
}

.panel{
    position:absolute;
    right:0;
    top:0;
    width:50px;
}
.panel img{
    width:50%;
}

/*footer*/
#footer{
    height:100px;
    background:#363636;
    position:relative; 
}
.fInfo{
    padding:17px 10px;;
    box-sizing:border-box; 
    color:#666;
    font-size:10px; 
}
.fInfo p{
    
    margin:5px 0; 
}

.family{
    position:absolute;
    top:50%;
    right:10px; 
}
.family select{
    appearance:none;
    -webkit-appearance:none; 
    border:1px solid #333;
    width:120px;
    height:25px;
    outline:none;
    background:#fff url(../images/common/footerBtn.png) no-repeat 95% center;
    background-size:15px;
    font-size:12px;
    padding:5px;
    color:#333; 
}