@charset "utf-8";

/*서브메인슬라이더*/
.subSlider{
    height:160px;
    background:#244753;
}
.subSlider h1{
    color:#fff;
    font-size:25px;
    padding-top:75px;
    padding-left:10px; 
}
.subSlider span{
    color:#60f904; 
}

.sub01{
    width:100%; 
}
.sub01Menu{
    padding:30px 10px; 
    text-align:center;
    
    
}
.sub01Menu li{
    float:left;
    width:25%;
    font-size:15px;
    
}
.sub01Menu li a{
    width:100%;
    color:#666;
   
}
.busi{
    height:550px; 
    background:#f6f6f6;
    border-top:1px solid #666;  
    border-bottom:1px solid #666;
    position:relative; 
}
.busi h2{
    text-align:center;
    padding:20px 0;
    font-size:20px; 
}
.busi img{
    width:100%; 
    
}

.busiTit{
    background:#fff;
    width:95%;
    height:230px;
    font-size:13px;
    padding:20px;
    box-sizing:border-box; 
    position:absolute;
    right:0;
    top:50%;
}
.busiTit p{
    margin:10px 0; 
}

.busiTit01{}

/*아이콘*/
.mainCon03{
    width:100%;
    height:180px;
    background:#f6f6f6;
    text-align:center;
    border-top:1px solid #666;  
    border-bottom:1px solid #666;
    
}

.con03Icon{
    text-align:center; 
    padding-top:20px;
    width:100%;
    
}
.con03Icon li{
    background:#e5e7e5;
    margin-right:5%; 
    width:100px;
    height:100px;
    border-radius:50%;
    position:relative;
    display:inline-block;
    
}
.con03Icon li:last-child{
    margin-right:0; 
}
.con03Icon li img{
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    width:40%; 
}
.con03Icon li a{
    display:block; 
}
.con03Icon li p{
    font-size:10px;
    font-weight:bold;
    margin-top:130px;  
}